<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>
      {{ block "title" . }}
      {{ site.Title }}
      {{ end }}
    </title>
    {{ partial "css.html" . }}
    {{ partial "head-js.html" . }}
    {{ partial "mathjax.html" }}
    {{ partial "mermaid.html" }}
    {{ partial "fontawesome.html" }}
  </head>
  <body class="has-navbar-fixed-top">
    {{ block "main" . }}
    {{ end }}

    {{ partial "javascript.html" . }}
    {{ partial "search.html" . }}
    {{ partial "extensions/hypothesis.html"}}
  </body>
</html>
